/* DESKTOP FIRST */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 195, 206);
    font-family: "Lato", sans-serif
}

/* UTILITY */

.overflow{
    overflow-y:scroll;
}

.border-bottom{
    border-bottom: solid 1px rgb(238, 238, 238) ;
}

/* LAYOUT */
.container {
    max-width: 80%;
    background-color: aqua;
    margin: 20px auto;
    max-height: 879px;
}

.row {
    display: flex;
}

.col-35{
    width: 35%;
    background-color: rgb(255, 255, 255);
}

.col-65 {
    width: 65%;
}

/* MARGIN */


/* PADDING */
.p-20{
    padding: 20px;
}

.p-10{
    padding: 10px;
}

.p-5{
    padding: 5px;
}

/* DISPLAY FLEX */
.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.gap-15{
    gap: 15px;
}

.no-shrink{
    flex-shrink: 0;
}

/* BG */
.custom-bg{
    background-image: url(./assets/img/mine.jpg);
    width: 100%;
    height: 100%;
}

.grey-bg{
    background-color: #e9e7e7;
}

.sky-bg {
    background-color: #a5e2ee;
}

/* IMG CUSTOMIZATION */
.propics {
    width: 55px;
    border-radius: 50%;
}

.icons{
    width: 25px;
    color: #999999;
}

.border-white{
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}

/* TEXT CUSTOMIZATION */
h2 {
    font-size: 17px;
    font-weight: 600;
}

.side-txt{
    margin: 10px 0;
    max-width: 100%;
    max-height: 100%;
}

.txt-15{
    font-size: 15px;
}

.grey-txt{
    color: grey;
}



/* CLASSES FOR THE BLOCKOUT */
/* .orange-bg {
    background-color: rgb(253, 124, 84);
} */

/* .pink-bg{
    background-color: lightpink;
} */

/* .border-blockout{
    border: 1px solid brown;
} */

/* .h-90{
    min-height: 90vh;
} */

/* DIMENSIONI */
.h-690{
    height: 690px;
}

.h-70{
    height: 70px;
}

.h-50{
    height: 50px;
}

.input-height{
    height: calc(100% - 15px);
}

.input-width{
    width: calc(100% - 10px);
    border: none;
}

.w-100-input{
    min-width: calc(100% - 100px);
    height: 100%;
}

.input-txt{
    width: 100%;
    height: 100%;
    border: none;
    padding: 20px;
}

#chat-viewport{
    height: 740px
}

/* MEDIA QUERIES */

/* TABLET */
@media screen and (max-width: 992px){

body {
    background-color: rgb(3, 65, 65);
}

.chat-preview .side-txt, span {
    display: none;
}

#notifications {
    display: none;
}

#search-input{
    display: none;
}

.col-35 .right-side {
    display: none;
}

}

/* MOBILE */
@media screen and (max-width: 576px){

body {
    background-color: firebrick;
}

.col-35 {
    display: none;
}

.right-side{
    display: none;
}
}